

.top-bar-fix{
  z-index: 999;
  position: fixed;
  background-color: #FF6900;
  box-shadow: 0 0 10px 0 gray;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
}

#container-header{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
 
}

/* MENU */

.menu ul{
  align-items: center;
}

.menu ul li{
  list-style: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  cursor: pointer; 
  padding-left: 10px; 
}


/* LOGO */

.logo-bar{
  width: 100px;
}

#boolando-logo{
  width: 100%;
}

.menu ul li:hover{
  text-decoration: underline;
}

